
<p> Olá <%= @item.user.first_name %> </p>

<p>Registramos com sucesso no MakeMyParty seu novo item:</p>

<h2> <%= @item.product_name %> </p> </h2

<p> Boa Festa!</p>
<h1 class: "navbar-logo">Make my Party</h1>
