<div class="container-fluid text-center">
  <br>
  <br>
  <br>
  <h2> Todos os produtos</h2>
  <br>
  <br>
  <div class="row">
      <% @items.each do |item| %>
        <div class="col-lg-4 col-md-4 col-xs-12">
          <div class="card text-center">
              <%= image_tag item.picture, class: "index-photo"%>
              <h2 class=""><%= item.product_name %></h2>
              <p><%= item.price %> reais por dia</p>
              <div class="cta-container">
                <%= link_to(item_path(item)) do %>
                <button class="cta" style="background-color:  #22C9BE; width: 50%; color: white;">Detalhes</button>
                <% end %>
              </div>
          </div>
          </div>
      <% end %>
  </div>
</div>

