.index-photo {
  width: 200px;
  border-radius: 70px;
}

#all-card {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.card-item {
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
}
