<p> Olá <%= @rent.user.first_name %> </p>

<p>Registramos com sucesso sua reserva no MakeMyParty do item:</p>

<h2> <%= @rent.item.product_name %> </p> </h2

<p> Boa Festa!</p>
<h1 class: "navbar-logo">Make my Party</h1>
